@{
    ViewData["Title"] = "Ver Detalle Pais";
}



<section class="detalle-desportistas">
    <div class="deta-depor">
        <img src='@ViewBag.deportista.Foto'>
        <div class="nombre-y-fecha">
            <h1>@ViewBag.deportista.Nombre @ViewBag.deportista.Apellido</h1>
            <p>@ViewBag.deportista.FechaNacimiento.ToShortDateString()</p>
        </div>
        <div class="barra-abajo">
        <a asp-action="VerDetallePais" asp-controller="Home" asp-route-paisId="@ViewBag.deportista.IdPais"><img src='@ViewBag.paisDeportista.Bandera'></a>
        <a asp-action="VerDetalleDeporte" asp-controller="Home" asp-route-idDeporte="@ViewBag.deportista.IdDeporte"><img src='@ViewBag.deporteDeportista.Foto'></a>
        </div>
    </div>
</section>