@{
    ViewData["Title"] = "Ver Detalle Pais";
}

<section class="detallePais">
    <h1>@ViewBag.pais.Nombre</h1>
    <p>Fecha de fundación: @ViewBag.pais.FechaFundacion.ToShortDateString()</p>
    <img src=@ViewBag.pais.Bandera class="imgPrincipal">
    <h1 class="tituloDeportistas">Deportistas</h1>
    <div class="container">
        @{
            Dictionary<int, Deporte> diccionarioDeportes = new Dictionary<int, Deporte>();
            foreach(Deporte deporte in ViewBag.listaDeportes) diccionarioDeportes.Add(deporte.IdDeporte, deporte); //Para poder llamar al deporte en base a la ID
            int repeticiones = ViewBag.listaDeportistasPais.Count, deportistaActual = 0;
            for(int i = 0; i < repeticiones; i += 4)
            {
                if(i < repeticiones && i + 1 >= repeticiones)
                {
                    deportistaActual = i;
                    <div class="row">
                        <div class="col columna">
                            <a href='@Url.Action("VerDetalleDeportista", "Home", new{idDeportista=ViewBag.listaDeportistasPais[deportistaActual].IdDeportista})'>
                                <div class="sombra">
                                    <div class="positionAbsolute">
                                        <h1 class="tituloCard">@ViewBag.listaDeportistasPais[deportistaActual].Nombre @ViewBag.listaDeportistasPais[deportistaActual].Apellido</h1>
                                        <img src=@ViewBag.listaDeportistasPais[deportistaActual].Foto class="imgAtleta">
                                    </div>
                                    <img src=@diccionarioDeportes[ViewBag.listaDeportistasPais[deportistaActual].IdDeporte].Foto class="fondo">
                                </div>
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-5 columna">
                            <a href='@Url.Action("VerDetalleDeportista", "Home", new{idDeportista=ViewBag.listaDeportistasPais[deportistaActual].IdDeportista})'>
                                <div class="sombra">
                                    <div class="positionAbsolute">
                                        <h1 class="tituloCard">@ViewBag.listaDeportistasPais[deportistaActual].Nombre @ViewBag.listaDeportistasPais[deportistaActual].Apellido</h1>
                                        <img src=@ViewBag.listaDeportistasPais[deportistaActual].Foto class="imgAtleta">
                                    </div>
                                    <img src=@diccionarioDeportes[ViewBag.listaDeportistasPais[deportistaActual].IdDeporte].Foto class="fondo">
                                </div>
                            </a>
                        </div>
                        @{deportistaActual = i + 1;}
                        <div class="col-7 columna">
                            <a href='@Url.Action("VerDetalleDeportista", "Home", new{idDeportista=ViewBag.listaDeportistasPais[deportistaActual].IdDeportista})'>
                                <div class="sombra">
                                    <div class="positionAbsolute">
                                        <h1 class="tituloCard">@ViewBag.listaDeportistasPais[deportistaActual].Nombre @ViewBag.listaDeportistasPais[deportistaActual].Apellido</h1>
                                        <img src=@ViewBag.listaDeportistasPais[deportistaActual].Foto class="imgAtleta">
                                    </div>
                                    <img src=@diccionarioDeportes[ViewBag.listaDeportistasPais[deportistaActual].IdDeporte].Foto class="fondo">
                                </div>
                            </a>
                        </div>
                    </div>
                }
                if(i + 2 < repeticiones && i + 3 < repeticiones)
                {
                    deportistaActual = i + 2;
                    <div class="row">
                        <div class="col-7 columna">
                            <a href='@Url.Action("VerDetalleDeportista", "Home", new{idDeportista=ViewBag.listaDeportistasPais[deportistaActual].IdDeportista})'>
                                <div class="sombra">
                                    <div class="positionAbsolute">
                                        <h1 class="tituloCard">@ViewBag.listaDeportistasPais[deportistaActual].Nombre @ViewBag.listaDeportistasPais[deportistaActual].Apellido</h1>
                                        <img src=@ViewBag.listaDeportistasPais[deportistaActual].Foto class="imgAtleta">
                                    </div>
                                    <img src=@diccionarioDeportes[ViewBag.listaDeportistasPais[deportistaActual].IdDeporte].Foto class="fondo">
                                </div>
                            </a>
                        </div>
                        @{deportistaActual = i + 3;}
                        <div class="col-5 columna">
                            <a href='@Url.Action("VerDetalleDeportista", "Home", new{idDeportista=ViewBag.listaDeportistasPais[deportistaActual].IdDeportista})'>
                                <div class="sombra">
                                    <div class="positionAbsolute">
                                        <h1 class="tituloCard">@ViewBag.listaDeportistasPais[deportistaActual].Nombre @ViewBag.listaDeportistasPais[deportistaActual].Apellido</h1>
                                        <img src=@ViewBag.listaDeportistasPais[deportistaActual].Foto class="imgAtleta">
                                    </div>
                                    <img src=@diccionarioDeportes[ViewBag.listaDeportistasPais[deportistaActual].IdDeporte].Foto class="fondo">
                                </div>
                            </a>
                        </div>
                    </div>
                }
                else if (i + 2 < repeticiones && i + 3 >= repeticiones)
                {
                    deportistaActual = i + 2;
                    <div class="row">
                        <div class="col columna">
                            <a href='@Url.Action("VerDetalleDeportista", "Home", new{idDeportista=ViewBag.listaDeportistasPais[deportistaActual].IdDeportista})'>
                                <div class="sombra">
                                    <div class="positionAbsolute">
                                        <h1 class="tituloCard">@ViewBag.listaDeportistasPais[deportistaActual].Nombre @ViewBag.listaDeportistasPais[deportistaActual].Apellido</h1>
                                        <img src=@ViewBag.listaDeportistasPais[deportistaActual].Foto class="imgAtleta">
                                    </div>
                                    <img src=@diccionarioDeportes[ViewBag.listaDeportistasPais[deportistaActual].IdDeporte].Foto class="fondo">
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>